body {
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#title-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

#tag-container > * {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

#code-container {
  list-style: none;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#code-comment-container {
  padding: 20px;
  list-style: none;
  padding: 0;
  max-height: 80vh;
  overflow-y: auto;
}
#comment-container {
  list-style: none;
  max-height: 40vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#home-button {
  font-family: "Courier New", Courier, monospace;
  display: block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: left;
  margin-right: auto;
}

#home-button:hover {
  background-color: #0056b3;
}

#edit-button {
  font-family: "Courier New", Courier, monospace;
  display: block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

#edit-button:hover {
  background-color: #0056b3;
}

#delete-button {
  font-family: "Courier New", Courier, monospace;
  display: block;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

#delete-button:hover {
  background-color: #0056b3;
}
